@model Domain.DndCharacter

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DndCharacter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlatinumPieces" class="control-label"></label>
                <input asp-for="PlatinumPieces" class="form-control" />
                <span asp-validation-for="PlatinumPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoldPieces" class="control-label"></label>
                <input asp-for="GoldPieces" class="form-control" />
                <span asp-validation-for="GoldPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectrumPieces" class="control-label"></label>
                <input asp-for="ElectrumPieces" class="form-control" />
                <span asp-validation-for="ElectrumPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SilverPieces" class="control-label"></label>
                <input asp-for="SilverPieces" class="form-control" />
                <span asp-validation-for="SilverPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopperPieces" class="control-label"></label>
                <input asp-for="CopperPieces" class="form-control" />
                <span asp-validation-for="CopperPieces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
