.modal-backdrop {
    z-index: 1;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-container {
    z-index: 2;
    position: fixed;
    top: 15vh;
    left: 35vw;

    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "body"
        "footer";

    height: auto;
    max-height: 70%;
    width: 30%;

    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    background-color: white;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}